* {
  box-sizing: border-box;
}

@font-face {
  font-family: nintendo; 
  src: url(font/Pretendo.ttf); 
}

p {
  font-family: nintendo;
  font-weight: 700;
  font-size: 25px;
  margin: 10px 0px 10px 0px;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

body {
  margin: 40px 10px 10px 10px;
  height: 100vh;
  width: 350px;
  background-image: url("ui/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vh 100vh;
  user-select: none;
  -webkit-app-region: drag;
  padding-bottom: 10px;
}

body::-webkit-scrollbar {
  display:none ;
}

.app {
  padding: 16px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

#image-inp {
  display: none;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  width: 290px;
}

#hide-goal, #hide-task {
  display: none;
}

#flex {
  display:grid;
  height: 140px;
  border: 1px solid black;
  overflow-x: auto;
  background-image:linear-gradient(to bottom, #ffffff3e, #fffbd3af);
}


#reset-btn {
  top: 360px;
  left: 506px;
  position: fixed;
  width:25px;
  border-radius: 100px;
  background-color: #00000000;
  border: none;
  color:#00000000
}

#reset-btn:hover, #close:hover {
  background-color: #0000001b;
}

.screen-1 {
  padding: 10px;
  border:1px solid black;
  margin-left: 75px;
  width: 385px;
  height: 210px;
  overflow-y:scroll;
  position:fixed;
  background-image: linear-gradient(to bottom, #4f5c9240, #c5e5ffce);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.screen-2 {
  padding: 10px;
  border:1px solid black;
  margin-top: 265px;
  margin-left: 115px;
  position: fixed;
  width: 305px;
  height: 210px;
  overflow-y:scroll;
  background-image: url(ui/polka.png);
  background-size:250px;
}

.screen-2::-webkit-scrollbar {
  display:none ;
}

#total-points {
  font-family:monospace;
  width: 200px;
  font-size: 100px;
  text-align: center;
  margin-left: 70px;
  border:1px solid rgb(0, 0, 0);
  border-radius: 100px;
  background-image: linear-gradient(to bottom, #ffffff, #fbffb2);
  color: rgb(51, 45, 80);

}

#new-goal, #hide-goal {
  margin-top: 10px;
  font-size:40px;
  width: 350px;
  border-radius: 100px;
  border:1px solid black;
  font-family: nintendo;
  background-image: linear-gradient(to bottom, #ffffff, #ffdbe2);
  color: rgb(94, 69, 55);
}

#new-task, #hide-task {
  margin-top: 10px;
  font-size:40px;
  width: 350px;
  border-radius: 100px;
  border:1px solid black;
  font-family: nintendo;
  background-image: linear-gradient(to bottom, #ffffff, #ffe298);
  color: rgb(121, 65, 65);
}

.plus-one {
  border-radius: 100px;
  background-image: linear-gradient(to bottom, #ffffff, #ffcdf5);
  border:1px solid black;
  margin:5px 5px 0px 0px;
}

.plus-two {
  border-radius: 100px;
  background-image: linear-gradient(to bottom, #ffffff, #cde4ff);
  border:1px solid black;
  margin:5px 5px 0px 0px;
}

.plus-three {
  border-radius: 100px;
  background-image: linear-gradient(to bottom, #ffffff, #f3ffcd);
  border:1px solid black;
  margin:5px 5px 0px 0px;
}

#image-inp {
  width: 340px;
  background-image: url(ui/ice\ cream.png);
  background-size: 100px;
  ;
}

.wishlist-div {
  background-image: linear-gradient(to bottom, #ffffff4d, #d8f8ffbb);
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
  width: 245px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 40px;
  color:#432e2e;
  display:grid;
  grid-template-columns: 105px auto;
}



.buy-btn-logic {
  border-radius: 100px;
  border:1px solid black;
  height:25px;
  background-image: linear-gradient(to bottom, #ffffff, #ffc7ed);
  margin-top:10px;
  margin-left:-2px
}

.wishlist-p {
  color:#30314e;
  text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

.name-thing {
  color:#453754;
  font-family: nintendo;
  font-size:20px
}

.status-p {
  display:inline;
  margin-left:10px;
  color:rgb(187, 70, 70);
  text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #000000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
  font-size:30px;
  margin-left:5px;
  margin-top:4px;
}

.price-p {
  font-family: 'Courier New', Courier, monospace;
  font-size:25px;
}

.div-detail {
  display:grid;
  grid-template-rows: 30px auto;
}

.div-detail-sub {
  display:grid;
  grid-template-columns: auto auto auto;
}

#close {
  background-color: #00000000;
  position:fixed;
  left:455px;
  top:505px;
  height:23px;
  border-radius: 100px;
  color:#00000000;  
  border:none;
}

.plus-two:hover, .plus-one:hover, .plus-three:hover {
  scale: 1.05;
  transition:scale 0.1s;
}

#task-inp {
  border:1px solid black;
  padding: 5px;
  margin: 5px;
  background-image: url('ui/bg\ task.png');
  background-size: 40px;
  display: none;
}
